.logo {
  background: url('/assets/images/logo-white.svg');
  background-repeat: no-repeat;
  background-size: contain;
  height: 40px;
  display: block;
  width: 175px;
}

/* Custom tab */

.ant-tabs {
  .ant-tabs {
    &-nav {
      border-bottom: 1px solid #D9D9D9;

      &-wrap {
        margin-left: 32px;
        margin-right: 32px;
        color: #595959;
        height: 57px;
      }
    }

    &-tab {
      font-weight: 600;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: -0.02em;

      &:hover {
        color: #000000;
      }

      &-active {
        .ant-tabs-tab-btn {
          color: #000000;
        }
      }
    }
  }

  .ant-tabs-ink-bar {
    background: #722ED1;
  }

  .ant-tabs-content-holder {
    margin-left: 32px;
    margin-right: 32px;
  }
}

.ant-tabs-top > .ant-tabs-nav .ant-tabs-ink-bar, .ant-tabs-bottom > .ant-tabs-nav .ant-tabs-ink-bar, .ant-tabs-top > div > .ant-tabs-nav .ant-tabs-ink-bar, .ant-tabs-bottom > div > .ant-tabs-nav .ant-tabs-ink-bar {
  height: 3px;
}

.ant-tabs-left > .ant-tabs-nav .ant-tabs-ink-bar, .ant-tabs-right > .ant-tabs-nav .ant-tabs-ink-bar, .ant-tabs-left > div > .ant-tabs-nav .ant-tabs-ink-bar, .ant-tabs-right > div > .ant-tabs-nav .ant-tabs-ink-bar {
  width: 3px;
}

/* End Custom tab */
.check-icon {
  width: 16px;
  height: 16px;
  background: url('/assets/images/icons/check-circle.svg');
  background-repeat: no-repeat;
  background-size: contain;
  display: block;
}

.mb-0 {
  margin-bottom: 0;
}

.text-center {
  text-align: center;
}

.d-flex {
  display: flex;
}

.justify-content-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

#notify-message__mask {
  position: fixed;
  display: none;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1000;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.45);
  transition: 2s all;
}

.sms-message {
  border-radius: 8px;
  width: calc(100vw - 24px * 2);
  max-width: 500px;
  font-weight: 500;
  font-size: 18px;
  letter-spacing: -0.02em;

  .ant-notification-notice-icon {
    top: 35%;
  }

  .ant-notification-notice-close {
    top: 10px;
    right: 10px;
    font-size: 12px;
  }
}

.w-100 {
  width: 100%;
}

/* Custom Card */
.ant-card {
  border-radius: 24px;

  .ant-card-head {
    border: none;

    .ant-card-head-title {
      padding: 20px 0;
      font-weight: 600;
      font-size: 24px;
      line-height: 32px;
      letter-spacing: -0.02em;
    }
  }

  &.--custom {
    .ant-card-body {
      padding: 0 0 24px 0;
    }
  }
}

/* End Custom Card */

/* Custom Table */
.ant-table-wrapper {
  .ant-table-thead {
    .ant-table-cell {
      background-color: transparent;
      color: #8C8C8C;
      font-size: 14px;
      line-height: 22px;
      font-weight: 400;
    }
  }

  .ant-table-content {

    .ant-table-thead,
    .ant-table-tbody {
      .ant-table-cell:first-child {
        padding-left: 24px;
      }
    }
  }

  .ant-table-thead>tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan])::before {
    display: none;
  }

  .ant-table-tbody>tr.ant-table-row:hover>td,
  .ant-table-tbody>tr>td.ant-table-cell-row-hover {
    background: #F9F0FF;
  }

  .ant-pagination {
    padding-right: 24px;

    .ant-pagination-item {
      border: none;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover,
      &-active {
        background: #F0F0F0;
        border-radius: 8px;

        a {
          color: #141414;
        }
      }
    }

    .ant-pagination-item-link {
      border-radius: 8px;
    }

    .ant-pagination-prev:hover .ant-pagination-item-link,
    .ant-pagination-next:hover .ant-pagination-item-link {
      color: #141414;
      border-color: #D9D9D9;
    }

    .ant-pagination-disabled .ant-pagination-item-link,
    .ant-pagination-disabled:hover .ant-pagination-item-link {
      color: rgba(0, 0, 0, 0.25);
    }

    .ant-pagination-options {
      .ant-select:not(.ant-select-customize-input) .ant-select-selector {
        border-radius: 8px;
      }

      .ant-select:not(.ant-select-disabled):hover .ant-select-selector {
        border-color: #D9D9D9;
      }
    }
  }

  .ant-table-column-sorter-up.active,
  .ant-table-column-sorter-down.active {
    color: #141414;
  }
}

/* End Custom Table */


/* Custom Radio Button */
.ant-radio-checked::after {
  border-color: #722ED1;
}

.ant-radio-inner::after {
  background-color: #722ED1;
}

.ant-radio-checked .ant-radio-inner {
  border-color: #722ED1;
}

.ant-radio-wrapper:hover .ant-radio,
.ant-radio:hover .ant-radio-inner,
.ant-radio-input:focus+.ant-radio-inner {
  border-color: #722ED1;
}

/* End Custom Radio Button */


.ant-switch-checked {
  background-color: #722ED1;
}

.text-capitalize {
  text-transform: capitalize;
}
